PORT=3002
MOCK_PUBLIC_ORIGIN=http://127.0.0.1:3002
MOCK_ALIPAY_NOTIFY_URL=http://127.0.0.1:3100/v1/notify/alipay-batch
MOCK_ALIPAY_TRANSFER_NOTIFY_URL=http://127.0.0.1:3100/v1/notify/alipay-transfer
MOCK_ALIPAY_TRANSFER_FORWARDER_GATEWAY=http://127.0.0.1:3100/v1/gateway/alipay-transfer
MOCK_ALIPAY_TRANSFER_CALLBACK_SECRET=mock-alipay-transfer-callback-secret
MOCK_BINANCE_API_KEY=mock-binance-api-key
MOCK_BINANCE_SECRET_KEY=mock-binance-secret-key
MOCK_BINANCE_CLIENT_TYPE=WEB
